@import "../../scss/colors";

.sidebar {
  grid-column: 24/25;
  grid-row: 1/2;
  z-index: 3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: $sidebar;
  border: 1px solid $sidebarBorder;
  width: 57px;
  box-shadow: $buttonPinkShadow;
}

.outerCircle {
  margin: 6px 0 0 6px;
  width: 18px;
  height: 18px;
  border: solid 1px $buttonPink;
  border-radius: 50%;
}

.innerCircle {
  margin: 2px 0 0 2px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 1px solid $buttonPink;
}

.fullCircle {
  margin: 3px 0 0 3px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $buttonPink;
}

.sidebarUpper,
.sidebarLower {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  transition: 200ms;
  &:hover {
    background: $purpleHover;
  }
}

.iconUpper {
  width: 16px;
  margin: auto 0;
}

.iconLower {
  width: 16px;
  margin: auto auto;
}

@media only screen and (max-width:1430px){
  .sidebar {
    width: initial;
  }
}

@media only screen and (max-width: 1120px) {
  .sidebar{
    grid-column: 23/25;
    justify-self: end;
  }
  .sidebar {
    width: 57px;
  }
}
