$buttonPink: #fa4084;
$eventName: #5522a3;
$eventDetailsBg: #f0f6ff;
$eventLocationBg: #f6faff;
$dateBg: #774eb5;
$sidebar: #47109b;
$vl: #6730bc;
$horizontalLine: #ccd9ec;

$lightPurpleText: #9274c5;
$lightPurpleText2: #a78cd5;
$darkPurpleText: #2f0969;
$darkPurpleText2: #605077;
$darkPurpleText3: #5421a2;
$grayText: #7780a7;
$grayText2: #e9eef2;

$buttonBackBorder: #e7ecf5;
$buttonPinkBorder: #e11f66;
$eventNameBorder: #3b0c82;
$profileBorder: #e1edff;
$sidebarBorder: #3b0c82;
$checkboxBorder: #3c1081;
$cardBorder: #ae67d1;
$guestsInputBorder: #c9d0ed;

$profileShadow: 0px 2px 9px 0px rgba(78, 0, 197, 0.18);
$buttonPinkShadow: 0px 12px 9px 0px rgba(0, 78, 194, 0.15);
$buttonBackShadow: 0px 4px 11px 0px rgba(19, 79, 215, 0.15);
$headerShadow: 0px 2px 9px 0 rgba(0, 78, 194, 0.3);
$eventGuestsShadow: 0px 2px 6.8px 0.2px rgba(80, 103, 218, 0.15);
$eventTimeDateShadow: 0px 3px 9px 0 rgba(11, 40, 64, 0.15);
$eventNameShadow: 0px 12px 9px 0 rgba(0, 78, 194, 0.15);
$eventNameInputShadow: 0px 9px 33px 0 rgba(17, 1, 41, 0.31);
$guestsInputShadow: inset 0px 1px 2px 0 rgba(0, 43, 165, 0.15);
$numberInputShadow: inset 0px 1px 2px 0 rgba(0, 43, 165, 0.1);

//custom hover boje
$pinkHover: #ff5795;
$purpleHover: #6826cc;
$purpleBorderHover: #e0c8ec;
$pinkDisabled: #a7939a;
$disabledText: #dac0c9;
