@import "../../../scss/_colors";

.eventNotificationSelect,
.eventNotificationTimeSelect {
  height: 28px;
  width: 89px;
  padding-left: 20px;
  margin-right: 4px;
  color: $sidebar;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 1.58;
  letter-spacing: -0.1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white url(../../../../img/dropdownArrow.png) 90% center;
  background-repeat: no-repeat;
  border: 1px solid $buttonBackBorder;
  border-radius: 2px;
  box-shadow: $buttonBackShadow;
}

.eventNotificationTimeSelect {
  margin-right: 0px;
  padding-left: 14px;
}

.numberInput {
  background: $eventLocationBg;
  border: 1px solid $guestsInputBorder;
  border-radius: 2px;
  box-shadow: $numberInputShadow;
  height: 28px;
  width: 39px;
  margin-right: 4px;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.36;
  letter-spacing: -0.1px;
  text-align: center;
}

.deleteNotification {
  margin-left: 10px;
}
.addNotification {
  margin-top: 10px;
  font-size: 12px;
  line-height: 1.58;
  opacity: 0.7;
  color: $lightPurpleText;
}
