@import "../../scss/colors";

.eventNameWrapper {
  grid-column: 1/23;
  background: $eventName;
  border: 1px solid $eventNameBorder;
  box-shadow: $eventNameShadow;
  z-index: 1;
}

.eventNameForm {
  display: grid;
  grid-template-columns: repeat(22, minmax(1px, 60px));
  grid-template-rows: 100%;
}

input[type="time"]::-webkit-clear-button,
input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

.eventNameInput {
  grid-column: 2/16;
  grid-row: 1/2;
  border: 0;
  margin-top: 62px;
  height: 65px;
  width: 809px;
  font-family: "Roboto";
  font-size: 20px;
  font-weight: 300;
  padding-left: 29px;
  color: $sidebar;
  box-shadow: $eventNameInputShadow;
}

.saveEvent {
  grid-column: 13/16;
  grid-row: 1/2;
  margin-top: 68px;
  height: 52px;
  width: 173px;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 500;
  color: $buttonPink;
  text-transform: uppercase;
  background: #fff;
  border: 1.1px solid $buttonBackBorder;
  box-shadow: $buttonBackShadow;
  cursor: pointer;
}

.verticalLine {
  grid-column: 17/18;
  border-left: 1px solid $vl;
  height: 327px;
  margin-top: -129px;
  margin-left: 30px;
  z-index: 1;
}

.timesDiv,
.datesDiv {
  grid-column: 18/22;
  grid-row: 1/2;
  display: grid;
  margin-top: 54px;
  grid-template-columns: 1fr 1fr;
}
.datesDiv {
  margin-top: 85px;
}
.eventStartTime,
.eventEndTime {
  border: 0;
  border-radius: 2px;
  width: 108px;
  height: 47px;
  text-align: right;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 19px;
  font-size: 16px;
  color: $darkPurpleText;
  z-index: 1;
  box-shadow: $eventTimeDateShadow;
}
.eventStartTime,
.eventEndDate {
  justify-self: start;
}
.eventEndTime,
.eventEndDate {
  justify-self: end;
}

.eventStartDate,
.eventEndDate {
  border: 0;
  border-radius: 2px;
  width: 108px;
  height: 47px;
  text-align: end;
  font-family: "Roboto";
  line-height: 1.46em;
  font-size: 13px;
  color: $lightPurpleText2;
  background: $dateBg;
  transform: translateY(10%);
  box-shadow: $eventTimeDateShadow;
}

.eventOptionCheckboxDiv {
  margin-top: 153px;
  grid-row: 1/2;
  grid-column: 2/5;
  color: $lightPurpleText;
  font-size: 12px;
}

.allDay,
.repeat {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

.eventCheckbox,
.eventCheckbox2 {
  height: 13px;
  width: 13px;
  border: 1px solid $checkboxBorder;
  border-radius: 0.7px;
  display: inline-flex;
  background: $lightPurpleText;
  margin-right: 10px;
}

.allDay:checked + .eventCheckbox,
.repeat:checked + .eventCheckbox2 {
  height: 13px;
  width: 13px;
  border-radius: 0.7px;
  display: inline-flex;
  background: $checkboxBorder;
}

.allDayLabel {
  justify-self: start;
  display: inline-flex;
}
.repeatLabel {
  margin-left: 33px;
  display: inline-flex;
}
.timezone {
  grid-column: 18/22;
  grid-row: 1/2;
  justify-self: center;
  height: 15px;
  font-size: 12px;
  margin-top: 160px;
  line-height: 1.58;
  color: $lightPurpleText;
}

@media only screen and (max-width: 1439px) {
  .eventNameInput {
    width: initial;
  }
  .saveEvent {
    width: initial;
    margin-right: 8px;
  }
  .eventOptionCheckboxDiv {
    grid-column: 2/10;
  }
}

@media only screen and (max-width: 1120px) {
  .eventNameForm {
    display: grid;
    grid-template-columns: repeat(22, minmax(1px, 60px));
    grid-template-rows: 199px 124px;
    background: $eventName;
    border: 1px solid $eventNameBorder;
  }
  .eventNameWrapper {
    border: 0;
  }
  .eventNameInput {
    grid-column: 2/22;
  }
  .saveEvent {
    grid-column: 18/22;
  }
  .timesDiv {
    grid-column: 2/22;
    grid-row: 2/3;
    justify-self: center;
    margin-top: 10px;
  }
  .datesDiv {
    grid-column: 2/22;
    grid-row: 2/3;
    justify-self: center;
    margin-top: 42px;
  }
  .verticalLine {
    display: none;
  }
  .timezone {
    grid-column: 10/14;
    justify-self: center;
    margin-top: 152px;
  }
  .eventOptionCheckboxDiv {
    grid-column: 2/16;
  }
  .eventStartDate,
  .eventStartTime {
    margin-right: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .eventNameForm {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 199px 144px;
  }
  .saveEvent {
    grid-column: 7/9;
    justify-self: center;
    width: 100%;
    margin-right: 55%;
  }
  .eventNameInput {
    grid-column: 2/8;
    width: 110%;
    justify-self: center;
  }
  .timesDiv,
  .datesDiv {
    grid-column: 1/9;
  }
  .timesDiv {
    margin-top: 28px;
  }
  .datesDiv {
    grid-column: 1/9;
    margin-top: 60px;
  }
  .eventOptionCheckboxDiv {
    grid-column: 2/8;
  }
  .timezone {
    grid-row: 2/3;
    grid-column: 2/8;
    justify-self: center;
    margin: 0;
  }
}

@media only screen and (max-width: 400px) {
  .saveEvent {
    grid-column: 6/9;
    margin-right: 35%;
  }
  .eventNameInput {
    font-size: 14px;
    padding-left: 10px;
    width: 115%;
  }
}
