.indexPage {
  display: grid;
  grid-template-columns: repeat(24, minmax(1px,60px));
  grid-template-rows: 126px 1fr;
  justify-content: center;
  background: rgb(215, 215, 252);
  font-family: "Roboto";
}