@import "../../scss/_colors";

.eventDetails {
  grid-column: 10/23;
  grid-row: 2/3;
  margin: 83px 0 0 0px;
  height: 486px;
  background-color: $eventDetailsBg;
  display: grid;
  grid-template-columns: repeat(13, minmax(1px, 60px));
  grid-template-rows: 150px;
  z-index: 2;
  border-bottom: 1px solid $horizontalLine;
}

.eventDetailsLeft {
  grid-column: 2/8;
  height: 486px;
}

.eventDetailsLeft > p,
.eventDetailsRight > p {
  grid-column: 2/8;
  grid-row: 1/2;
  font-size: 13px;
  line-height: 1.46;
  letter-spacing: -0.1px;
  color: $lightPurpleText;
}

.eventDetailsLeft > p {
  margin-top: 70px;
}

.notificationsParagraph {
  margin-top: 70px;
}
.notificationsParagraph2,
.notificationsParagraph3 {
  margin-top: 24px;
}
.eventLocationInput {
  grid-column: 2/8;
  grid-row: 1/2;
  height: 43px;
  width: 338px;
  padding-left: 18px;
  margin-top: 12px;
  background: $eventLocationBg;
  border: 1px solid $guestsInputBorder;
  box-shadow: $guestsInputShadow;
  color: $lightPurpleText;
  font-family: "Roboto";
  font-size: 13px;
  z-index: 2;
}
.eventLocationInput::placeholder {
  color: $lightPurpleText;
  opacity: 0.6;
  font-family: "Roboto";
  font-size: 13px;
}

.eventDetailsLeft > p:nth-child(3) {
  grid-row: 2/3;
  margin-top: 37px;
  z-index: 2;
}

.descriptionArea {
  grid-column: 2/8;
  grid-row: 2/3;
  height: 88px;
  width: 350px;
  opacity: 0.8;
  margin-top: 12px;
  padding: 6px 0 0 6px;
  background: $eventLocationBg;
  border: 1px solid $guestsInputBorder;
  box-shadow: $guestsInputShadow;
  resize: none;
  z-index: 2;
  color: $lightPurpleText;
}

.verticalLine2 {
  grid-column: 8/9;
  grid-row: 1/3;
  border-right: 1px solid $horizontalLine;
  justify-self: center;
}

.eventDetailsRight {
  grid-column: 9/14;
}

.addNotification {
  display: inline-block;
  cursor: pointer;
}

.deleteNotification {
  cursor: pointer;
}

.calendarSelect,
.showMeAsSelect {
  height: 28px;
  width: 109px;
  padding-left: 10px;
  color: $sidebar;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: 500;
  line-height: 1.58;
  letter-spacing: -0.1px;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white url(../../../img/dropdownArrow.png) 90% center;
  background-repeat: no-repeat;
  border: 1px solid $buttonBackBorder;
  border-radius: 2px;
  box-shadow: $buttonBackShadow;
}

.colorDiv {
  grid-column: 9/14;
  display: inline-flex;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type="radio"] + img {
  cursor: pointer;
  border: solid 6px transparent;
}

[type="radio"]:checked + img {
  box-shadow: $buttonBackShadow;
  border: solid 6px $eventLocationBg;
  border-radius: 50%;
}

.moreColorsDiv {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 29px;
  height: 27px;
}
.moreColorsDiv > img {
  grid-row: 1/2;
  grid-column: 1/2;
  transform: translateY(10%);
  width: 29px;
  height: 27px;
}
.moreColorsDiv > p {
  grid-row: 1/2;
  grid-column: 1/2;
  margin-top: 1px;
  width: 29px;
  height: 27px;
  z-index: 1;
  font-size: 13px;
  line-height: 1.46;
  letter-spacing: -0.4px;
  text-align: center;
}

@media only screen and (max-width: 1439px) {
  .eventLocationInput {
    width: calc(100% - 12px);
  }
  .descriptionArea {
    width: 100%;
  }
}

@media only screen and (max-width: 1260px) {
  .eventDetails {
    grid-column: 9/23;
  }
}

@media only screen and (max-width: 1120px) {
  .eventDetails {
    grid-column: 1/23;
    grid-row: 2/3;
    grid-template-columns: repeat(22, minmax(1px, 60px));
  }
  .verticalLine2 {
    grid-column: 11/13;
  }
  .eventDetailsRight {
    grid-column: 14/21;
  }
  .eventDetailsLeft > p {
    margin-top: 50px;
  }
  .eventDetailsLeft {
    grid-column: 2/10;
  }
  .eventLocationInput {
    grid-column: 1/10;
    width: calc(100% - 12px);
  }
  .descriptionArea {
    grid-column: 1/10;
    width: 100%;
  }
}

@media only screen and (max-width: 800px) {
  .eventDetailsRight {
    grid-column: 14/23;
  }
}
@media only screen and (max-width: 650px) {
  .eventDetails {
    grid-template-columns: repeat(8, minmax(1px, 60px));
    grid-template-rows: 325px 450px;
    height: 100%;
  }
  .eventDetailsLeft {
    grid-column: 2/8;
    height: 100%;
  }
  .verticalLine2 {
    display: none;
  }
  .eventDetailsRight {
    grid-column: 2/7;
    grid-row: 2/3;
  }
  .notificationsParagraph {
    margin-top: 0px;
  }
  .eventLocationInput {
    width: calc(100% - 18px);
  }
  .descriptionArea {
    width: calc(100% - 6px);
  }
  .calendarSelect,
  .showMeAsSelect {
    width: 114px;
  }
}

@media only screen and (max-width: 420px) {
  .eventDetailsRight {
    grid-column: 2/9;
    grid-row: 2/3;
  }
}
