@import "../scss/_colors";

.eventWrapper {
  grid-column: 2/24;
  display: grid;
  grid-template-columns: repeat(22, minmax(1px, 60px));
  grid-template-rows: 199px 631px;
  background: white;
}

.eventCardsDiv {
  grid-column: 11/23;
  grid-row: 2/3;
  z-index: 1;
}
.eventDetailsButton,
.findTimeButton {
  width: 131px;
  margin-top: 20px;
  height: 63px;
  padding: 0;
  border: 0;
  font-family: "Roboto";
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 4px solid $cardBorder;
  background: white;
  color: $darkPurpleText3;
  cursor: pointer;
}
.findTimeButton {
  border-bottom: 4px solid white;
  font-weight: 300;
  transition: 200ms;
  &:hover {
    border-bottom: 4px solid $purpleBorderHover;
  }
}

@media only screen and (max-width: 1120px) {
  .eventWrapper {
    grid-column: 1/25;
    grid-template-rows: 325px 570px 570px;
  }
  .eventCardsDiv {
    grid-column: 1/10;
  }
}
@media only screen and (max-width: 650px) {
  .eventWrapper {
    grid-template-rows: 345px 680px 570px;
  }
  .eventCardsDiv {
    grid-column: 1/22;
  }
}
