@import "../scss/colors";

.header {
  grid-column: 1/25;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: repeat(24, minmax(1px, 60px));
  background-color: white;
  box-shadow: $headerShadow;
  z-index: 2;
}

.backButton {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 3;
  width: 63px;
  background-color: white;
  padding: 0;
  border: $buttonBackBorder;
  box-shadow: $buttonBackShadow;
  cursor: pointer;
}

.saveButton {
  grid-column: 3/6;
  width: 179px;
  margin-top: 29px;
  margin-bottom: 37px;
  background: $buttonPink;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height: 1.36;
  border: 1px solid $buttonPinkBorder;
  border-radius: 2px;
  box-shadow: $buttonPinkShadow;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    background-color: $pinkHover;
  }
}

.discard,
.delete {
  grid-column: 7/9;
  display: inline-flex;
  justify-self: start;
  margin-top: 55px;
  height: 16px;
  color: $lightPurpleText;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.58;
  letter-spacing: -0.1px;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    opacity: 0.75;
  }
}

.discardIcon,
.deleteIcon {
  margin-right: 15px;
}

.delete {
  grid-column: 9/11;
}

.searchButton {
  grid-column: 21/22;
  height: 39px;
  width: 39px;
  transform: translateY(100%);
  background: $buttonPink;
  border: 0;
  border-radius: 50%;
  justify-self: end;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    background-color: $pinkHover;
  }
}

.searchIcon {
  margin-top: 2px;
}

.profileDiv {
  grid-column: 22/24;
  justify-self: stretch;
  transform: translateY(calc(100% + 7px));
  width: 60px;
  height: 32px;
  margin-left: 20px;
  display: grid;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    opacity: 0.75;
  }
}
.profileImg {
  grid-column: 1/2;
  border-radius: 50%;
  margin-right: 10px;
  border: 4px solid $profileBorder;
  box-shadow: $profileShadow;
}
.profileIcon {
  grid-column: 2/3;
  transform: translateY(calc(100% + 7px));
}

@media only screen and (max-width: 1120px) {
  .discard {
    grid-column: 11/15;
  }
  .delete {
    grid-column: 15/18;
  }
  .searchButton {
    grid-column: 18/20;
  }
  .profileDiv {
    grid-column: 20/22;
  }
}

@media only screen and (max-width: 800px) {
  .saveButton {
    grid-column: 4/7;
    width: 100px;
    margin-top: 39px;
    margin-bottom: 47px;
  }

  .discard {
    grid-column: 9/13;
  }
  .delete {
    grid-column: 13/16;
  }
  .searchButton {
    grid-column: 17/19;
  }
  .profileDiv {
    grid-column: 19/21;
  }
}

@media only screen and (max-width: 600px) {
  .saveButton {
    grid-column: 4/7;
    width: 80px;
    margin-left: 10px;
  }
  .discard,
  .delete {
    font-size: 0;
    margin-top: 45px;
  }
  .discardIcon,
  .deleteIcon {
    margin: 0;
    padding: 6px;
  }
  .discard {
    grid-column: 10/12;
    justify-self: start;
  }
  .delete {
    grid-column: 12/14;
    justify-self: end;
  }
  .searchButton {
    grid-column: 15/17;
  }
  .profileDiv {
    grid-column: 17/19;
  }
}

@media only screen and (max-width: 460px) {
  .header {
    grid-template-rows: 70px 70px;
  }
  .saveButton {
    margin: 20px 0 0 20px;
  }
  .discard {
    grid-column: 4/9;
    grid-row: 2/3;
    margin: 16px 0 0 20px;
    justify-self: start;
    display: inline-block;
    z-index: 100;
  }
  .delete {
    grid-row: 2/3;
    grid-column: 4/9;
    margin: 16px 0 0 76px;
    justify-self: start;
    display: inline-block;
  }
  .backButton{
    width: 40px;
  }
  .searchButton {
    grid-column: 15/18;
    grid-row: 1/2;
    justify-self: center;
    margin-top: 36px;
  }
  .profileDiv {
    grid-column: 15/18;
    grid-row: 1/2;
    justify-self: center;
    margin: -20px 0 0 15px;
  }
}
