@import "../../scss/_colors";

.eventGuests {
  grid-column: 1/10;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(8, minmax(1px, 60px));
  grid-template-rows: 99px 100px 100px 109px 57px 48px;
  box-shadow: $eventGuestsShadow;
  z-index: 0;
}
.eventGuests > h3 {
  grid-column: 2/4;
  margin: 63px 0 22px 0;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: -0.3px;
  color: $sidebar;
}

.guestsForm {
  grid-column: 2/9;
  display: grid;
  grid-template-columns: repeat(7, 60px);
}

.addGuestInput {
  border: 1px solid $guestsInputBorder;
  height: 45px;
  width: 378px;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 300;
  padding-left: 19px;
  color: $sidebar;
}

.addGuestButton {
  grid-column: 6/8;
  grid-row: 1/3;
  justify-self: center;
  width: 80px;
  height: 37px;
  margin: 5px 10px 0 0;
  border: 1px solid $buttonPinkBorder;
  border-radius: 2px;
  background: $buttonPink;
  box-shadow: $buttonPinkShadow;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.58;
  z-index: 1;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    background-color: $pinkHover;
  }
  &:disabled {
    background-color: $pinkDisabled;
    border-color: $pinkDisabled;
    color: $disabledText;
    cursor: default;
  }
}

.guestsCheckboxDiv {
  grid-column: 1/9;
  grid-row: 2/3;
  margin-top: 22px;
}

.others,
.modify,
.guestList {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
  overflow: hidden;
}

.otherCheckbox,
.modifyCheckbox,
.guestListCheckbox {
  height: 15px;
  width: 15px;
  border: 1px solid $guestsInputBorder;
  border-radius: 0.7px;
  display: inline-flex;
  background: white;
  margin-right: 10px;
  box-shadow: $guestsInputShadow;
}

.others:checked + .otherCheckbox,
.modify:checked + .modifyCheckbox,
.guestList:checked + .guestListCheckbox {
  height: 15px;
  width: 15px;
  border-radius: 0.7px;
  display: inline-flex;
  background: $checkboxBorder;
}

.othersLabel,
.modifyLabel,
.guestListLabel {
  font-size: 12px;
  color: $grayText;
  display: inline-flex;
  margin-right: 20px;
}

.guestListLabel {
  margin-right: 0px;
}

.eventGuestListDiv {
  grid-column: 1/9;
  grid-row: 3/4;
  width: 95%;
  display: inline-block;
  margin-top: 10px;
}

.eventGuestListDiv > p {
  display: inline-block;
  font-size: 12px;
  line-height: 1.58;
  color: $darkPurpleText;
}

.horizontalLine {
  grid-column: 1/8;
  width: 95%;
  grid-row: 3/4;
  margin-top: 100px;
  border-bottom: 1px solid $horizontalLine;
}

.eventTypeSelect,
.moreActionsSelect {
  grid-column: 2/9;
  grid-row: 4/5;
  height: 38px;
  width: 47.55%;
  padding-left: 20px;
  margin-top: 24px;
  color: $sidebar;
  font-family: "Roboto";
  font-size: 13px;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: white url(../../../img/dropdownArrow.png) 90% center;
  background-repeat: no-repeat;
  border: 1px solid $buttonBackBorder;
  box-shadow: $buttonBackShadow;
}

.moreActionsSelect {
  margin-left: 47.55%;
}

.message {
  grid-column: 2/9;
  grid-row: 5/6;
  opacity: 0.7;
  font-family: "Roboto";
  font-size: 11px;
  color: $darkPurpleText2;
  line-height: 1.36;
}

.message > a {
  color: $buttonPink;
  transition: 200ms;
  text-decoration: none;
  &:hover {
    color: $pinkHover;
  }
}

.publishEventButton {
  grid-column: 2/4;
  grid-row: 6/7;
  width: 147px;
  height: 48px;
  background: $sidebar;
  border: 1px solid $sidebarBorder;
  color: $grayText2;
  box-shadow: $eventNameShadow;
  border-radius: 3.3px;
  cursor: pointer;
  transition: 200ms;
  &:hover {
    background: $purpleHover;
  }
}

@media only screen and (max-width: 1260px) {
  .eventGuests {
    grid-column: 1/9;
  }
  .addGuestInput {
    grid-column: 1/6;
    grid-row: 1/2;
    width: calc(100% - 19px);
  }
  .addGuestButton {
    grid-column: 5/6;
    grid-row: 1/3;
    justify-self: end;
    margin: 5px 0 0 0;
  }
  .othersLabel,
  .modifyLabel,
  .guestListLabel {
    margin-right: 12px;
  }
  .otherCheckbox,
  .modifyCheckbox,
  .guestListCheckbox {
    margin-right: 5px;
  }
  .horizontalLine {
    grid-column: 1/6;
    width: 100%;
  }
  .eventTypeSelect,
  .moreActionsSelect {
    width: 42%;
  }
  .moreActionsSelect {
    margin-left: 42%;
  }
  .message {
    grid-column: 2/8;
  }
  .eventGuestListDiv {
    grid-column: 1/6;
    width: 100%;
  }
}

@media only screen and (max-width: 1120px) {
  .eventGuests {
    grid-column: 1/23;
  }
  .addGuestInput {
    grid-column: 1/8;
  }
  .addGuestButton {
    grid-column: 7/8;
    margin-right: 4px;
  }
  .eventTypeSelect,
  .moreActionsSelect {
    width: 50%;
  }
  .moreActionsSelect {
    margin-left: 50%;
  }
  .horizontalLine {
    grid-column: 1/8;
  }
  .message {
    grid-column: 2/9;
  }
}

@media only screen and (max-width: 650px) {
  .eventGuests {
    margin-top: 85px;
    height: 100%;
  }
}

@media only screen and(max-width:560px) {
  .guestsForm {
    grid-column: 2/10;
    display: grid;
    grid-template-columns: repeat(8, minmax(1px, 60px));
  }
  .eventGuests > h3 {
    grid-column: 2/6;
  }
  .addGuestInput {
    font-size: 12px;
  }
  .publishEventButton {
    margin-top: 20px;
  }
  .eventGuestListDiv {
    grid-column: 1/8;
  }
}
